.head{
	float: left;
}
.head img{
  float: left;
}

.head h1{
  position: relative;
  top: 0px;
  left: 10px;
}

.head p{
  position: relative;
  top: 3px;
  left: 20px;
}

.basic-nav{
	float: right;
	top: 5px;
}

.rightFloat{
	float: right;
}
.leftFloat{
	float: left;
}

.aboutBack{
  background: #74AFAD;
}

.bodyBack{
  background: #ECECEA;
}

.formBack{
  background: #808080;
}

.loginPG{
  background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));
  margin-top: 50px;
  height:device-height;
}

.signupPG{
  background: url("../pics/signup.jpg");
  height: 1000px;
}

.loginmain{
  height: 100%;
}

.formStyle{
  padding-top: 125px;
  padding-bottom: 110px;
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

