.head{
	float: left;
}
.head img{
  float: left;
}

.head h1{
  position: relative;
  top: 0px;
  left: 10px;
}

.head p{
  position: relative;
  top: 3px;
  left: 20px;
}

.basic-nav{
	float: right;
	top: 5px;
}

.rightFloat{
	float: right;
}
.leftFloat{
	float: left;
}

.aboutBack{
  background: #74AFAD;
}

.bodyBack{
  background: #ECECEA;
}

.formBack{
  background: #808080;
}

.loginPG{
  background: url("../pics/login.jpeg");
}

.signupPG{
  background: url("pics/signup.jpg");
  height: 1000px;
}

.loginmain{
  height: 100%;
}

.formStyle{
  padding-top: 125px;
  padding-bottom: 125px;
}